@import "tailwindcss";

.footer{
  background-color: #100825;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a2e; /* Dark track */
}

::-webkit-scrollbar-thumb {
  background: #635bff; /* Purple thumb matching your #63e */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f74ff; /* Lighter purple on hover */
}
